# Byte-compiled / optimized / DLL files
src/__pycache__/
*.py[cod]

# Timing logs:
src/Example/logs/*.log
**/logs/*.log

*/results/*

.DS_Store
# Output files:
Intel.cir
Intel.cir.csv
Intel.cir.ic
Intel.grid.steady.layer0
Intel.grid.steady.layer1
Intel.log
Intel_frames
Intel.avi
IBMPower9transientheatsink_128x128_frames
**/Example_transient_data_files/IBMPower9transientheatsink_128x128.avi