# Byte-compiled / optimized / DLL files
src/__pycache__/
*.py[cod]

# Timing logs:
src/Example/logs/*.log
**/logs/*.log

*/results/*

# Output files:
Intel.cir
Intel.cir.csv
Intel.cir.ic
Intel.grid.steady.layer0
Intel.grid.steady.layer1
Intel.log
IBMPower9transientheatsink_128x128_frames