[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 8.51e-3
specificheatcapacity (j/m^3k) = 1630300

[Diel]
thermalresistivity ((m-k)/w) = 0.724
specificheatcapacity (j/m^3k) = 2650000

[Metal]
thermalresistivity ((m-k)/w) = 0.183
specificheatcapacity (j/m^3k) = 3.25e6

[Metal7_8]
thermalresistivity ((m-k)/w) = 0.00249
specificheatcapacity (j/m^3k) = 3.376


[TIM]
thermalresistivity ((m-k)/w) = 0.1
specificheatcapacity (j/m^3k) = 1785620

[TIM1]
thermalresistivity ((m-k)/w) = 2
specificheatcapacity (j/m^3k) = 1785620

[TIM2]
thermalresistivity ((m-k)/w) = 2
specificheatcapacity (j/m^3k) = 3.376

[Cu]
thermalresistivity ((m-k)/w) = 2.56e-3
specificheatcapacity (j/m^3k) = 3.45e6

[Diamond]
thermalresistivity ((m-k)/w) = 4.54e-4
specificheatcapacity (j/m^3k) = 1785620

[DiamondEQ]
thermalresistivity ((m-k)/w) = 3e-4
specificheatcapacity (j/m^3k) = 1785620

[MetalJoin]
thermalresistivity ((m-k)/w) = 0.183
specificheatcapacity (j/m^3k) = 3.25e6

[SiO2]
thermalresistivity ((m-k)/w) = 0.724
specificheatcapacity (j/m^3k) = 2.65e6

[STIM]
thermalresistivity ((m-k)/w) = 49600
specificheatcapacity (j/m^3k) = 1630300

[TIMTBR]
thermalresistivity ((m-k)/w) = 2
specificheatcapacity (j/m^3k) = 1785620

[TIMREAL]
thermalresistivity ((m-k)/w) = 0.25
specificheatcapacity (j/m^3k) = 4.0e6

[Init]
#ambient
#ambient = 323.15 K
ambient = 318.15 K
temperature = 273.15 K

[NoPackage]
htc = 1e5
#htc = 1e4
thickness (m) = 1e-9
thermalresistivity ((m-k)/w) = 6.67e-9
specificheatcapacity (j/m^3k) = 1


#thickness (t) = 0.3
#pore diameter (dp) = 0.1
#porosity (phi) = 0.2
#aspect ratio (ar) = 1
#solid fraction (sf) = 0.2
#width (w) = 5

#When HybridWickUsed used, Tambient should be set equal to Tsat
