[DEFAULT]
label = 

[Path]
home = ./../
library = %(home)slib/
flp = %(home)sflp_files/
ptrace = %(home)sptrace_files/

[Simulation]
steady_state = False
steady_state_solver = Solver
transient = True
step_size = 0.012s
total_simulation_time = 3.408s
ptrace_step_size = 0.012s
temperature_dependent = False
convergence = 0.1
layer = 1
temperature_dependent_library = TemperatureDependent.py
number_of_core = 16

[Solver]
name = SPICE_transient
wrapper = SPICESolver_transient.py
#low level solver option, only for SPICE high level solver
ll_steady_solver =KLU
ll_transient_solver = TRAP

[Grid]
type = Uniform
granularity = Grid
rows = 10
cols = 10
grid_mode = max


#DO NOT CHANGE BELOW
[VirtualNodes]
center_center = 0.5
bottom_center = 1

# Below is for information only: It's hard coded in the tool
[NoPackage]
LateralHeatFlow = True
VerticalHeatFlow = False
library_name = NoPackage_sec
library = Solid.py
virtual_node = bottom_center
transient = False
mode = single

[NoPackage_sec]
properties = htc, thickness (m), thermalresistivity ((m-k)/w), specificheatcapacity (j/m^3k) 

[Si]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Diel]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Metal]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Metal7_8]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[TIM]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[TIM1]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[TIM2]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Cu]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Diamond]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[DiamondEQ]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single
[HSTIM]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[MetalJoin]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single
[SiO2]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single
[TIMTBR]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single
[TIMREAL]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single
[Solid]
properties = thermalresistivity ((m-k)/w), specificheatcapacity (j/m^3k)



