[DEFAULT]
label = 

[Path]
home = /home/prachis/GitHub/CRI-Cooling-Tool
library = %(home)s/lib/
flp = %(home)s/flp_files/
ptrace = %(home)s/ptrace_files/

[Solver]
#name = SuperLU
name = SPICE
[Grid]
type = Uniform
granularity = Grid
rows = 8
cols = 8

[TIM]
thickness (m) = 0.00002
transient = True
library_name = DefaultSolid.py
#library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/DefaultSolid.py
library = DefaultSolid.py

[TEC]
library_name = TEC.py
#library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/TEC.py
library = TEC.py
#library = %(library)s/TEC.py
poweroutfile = /home/prachis/GitHub/CRI-Cooling-Tool/output/tec.tecout
#transient = False

[TwoPhase]
library_name = twophase
library = TwoPhase.py
transient = False

[Si]
library_name = DefaultSolid.py
#library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/DefaultSolid.py
library = DefaultSolid.py
transient = True

#[TEC.py]
#properties = specificheatcapacity (j/m^3k), seebeckcoefficient, thermalcontactresistance (m2k/w)

[DefaultSolid.py]
properties = thermalresistivity ((m-k)/w), specificheatcapacity (j/m^3k)

[twophase]
properties = htc, silicon thermalresistivity ((m-k)/w)

