[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 0.1
specificheatcapacity (j/m^3k) = 1750000

[TIM]
thermalresistivity ((m-k)/w) = 0.25
specificheatcapacity (j/m^3k) = 1750000
thickness (m) = 0.00002

[Init]
ambient = 323 K
temperature = 350 K

[TEC]
p-n = 49
seebeckcoefficient = 187e-6
thermalcontactresistance (m2k/w) = 9e-6
electricalcontactresistance (ohm.m^2) = 1.1e-10
electricalresistivity (ohm.m) = 1.64e-5
current (a) = 0
specificheatcapacity (j/m^3k) = 123456
thermalresistivity ((m-k)/w) = 0.25

[TwoPhase]
htc = 14200
silicon thermalresistivity ((m-k)/w) = 0.1
