[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 0.0077
specificheatcapacity (j/m^3k) = 1750000

[Cu]
thermalresistivity ((m-k)/w) = 0.625
specificheatcapacity (j/m^3k) = 2.32e6

[Init]
#ambient
#ambient = 323.15 K
ambient = 318.15 K
temperature = 273.15 K

[NoPackage]
htc = 1e5
#htc = 1e4
thickness (m) = 0.000004
thermalresistivity ((m-k)/w) = 0.0025
specificheatcapacity (j/m^3k) = 1750000


#thickness (t) = 0.3
#pore diameter (dp) = 0.1
#porosity (phi) = 0.2
#aspect ratio (ar) = 1
#solid fraction (sf) = 0.2
#width (w) = 5

#When HybridWickUsed used, Tambient should be set equal to Tsat
