[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 0.0077
specificheatcapacity (j/m^3k) = 1750000

[Init]
#ambient
#ambient = 323.15 K
ambient = 318.15 K
temperature = 273.15 K

#[NoPackage]
#htc = 1e6
##htc = 1e4
#thickness (m) = 0.00001
#thermalresistivity ((m-k)/w) = 0.0025
#specificheatcapacity (j/m^3k) = 1750000

[HeatSink]
convection_cap (j/k) = 140.4
convection_r (k/w) = 0.1
heatsink_side (m) = 0.04
heatsink_thickness (m) = 0.001
heatsink_thermalconductivity (w/(m-k)) = 400.0
heatsink_specificheatcapacity (j/m^3k) = 3.55e6
heatspreader_side (m) = 0.02
heatspreader_thickness (m) = 0.001
heatspreader_thermalconductivity (w/(m-k)) = 400.0
heatspreader_specificheatcapacity (j/m^3k) = 3.55e6

#thickness (t) = 0.3
#pore diameter (dp) = 0.1
#porosity (phi) = 0.2
#aspect ratio (ar) = 1
#solid fraction (sf) = 0.2
#width (w) = 5

#When HybridWickUsed used, Tambient should be set equal to Tsat
