[DEFAULT]
label = 

[Path]
home = ./../
library = %(home)slib/
flp = %(home)sflp_files/
ptrace = %(home)sptrace_files/

[Simulation]
steady_state = False
steady_state_solver = Solver
transient = True
step_size = 3.33us
total_simulation_time = 16.65us
ptrace_step_size = 3.33us
temperature_dependent = False
convergence = 0.1
layer = 1
temperature_dependent_library = TemperatureDependent.py
number_of_core = 8
[Solver]
name = SPICE_transient
wrapper = SPICESolver_transient.py
#low level solver option, only for SPICE high level solver
ll_steady_solver = KLU
ll_transient_solver = TRAP

[Grid]
type = Uniform
granularity = Grid
rows = 100
cols = 100
grid_mode = max


#DO NOT CHANGE BELOW
[VirtualNodes]
center_center = 0.5
bottom_center = 1

# Below is for information only: It's hard coded in the tool
[NoPackage]
LateralHeatFlow = True
VerticalHeatFlow = False
library_name = NoPackage_sec
library = Solid.py
virtual_node = bottom_center
transient = False
mode = single

[NoPackage_sec]
properties = htc, thickness (m), thermalresistivity ((m-k)/w), specificheatcapacity (j/m^3k) 

[Si]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Diel]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Metal]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Metal7_8]
library_name = Solid
library = Solid.py
transient = True
virtual_node = bottom_center
mode = single

[Solid]
properties = thermalresistivity ((m-k)/w), specificheatcapacity (j/m^3k)



