[DEFAULT]
#thickness (m) = 0.00015
label = 

[bcb]
thermalresistivity ((m-k)/w) = 3.448
specificheatcapacity (j/m^3k) = 1750000

[lump0]
thermalresistivity ((m-k)/w) = 0.509
specificheatcapacity (j/m^3k) = 62434

[lump1]
thermalresistivity ((m-k)/w) = 0.3554
specificheatcapacity (j/m^3k) = 143557

[Si]
thermalresistivity ((m-k)/w) = 0.007
specificheatcapacity (j/m^3k) = 1750000

#[Diel]
#thermalresistivity ((m-k)/w) = 0.3554
#specificheatcapacity (j/m^3k) = 143557

[Diel]
thermalresistivity ((m-k)/w) = 0.724
specificheatcapacity (j/m^3k) = 2650000 

#[Metal]
#thermalresistivity ((m-k)/w) = 0.509
#specificheatcapacity (j/m^3k) = 62434

[Metal]
thermalresistivity ((m-k)/w) = 0.002
specificheatcapacity (j/m^3k) = 3376000

[Init]
#ambient
#ambient = 323.15 K
ambient = 318.15 K
temperature = 273.15 K

#[NoPackage]
#htc = 1e4
##htc = 1e4
#thickness (m) = 0.00001
#thermalresistivity ((m-k)/w) = 0.0025
#specificheatcapacity (j/m^3k) = 1750000

[HeatSink]
convection_cap (j/k) = 140.4
convection_r (k/w) = 0.3
heatsink_side (m) = 0.052
heatsink_thickness (m) = 0.00000001
heatsink_thermalconductivity (w/(m-k)) = 400.0
heatsink_specificheatcapacity (j/m^3k) = 3.55e6
heatspreader_side (m) = 0.026
heatspreader_thickness (m) = 0.000075
heatspreader_thermalconductivity (w/(m-k)) = 400.0
heatspreader_specificheatcapacity (j/m^3k) = 3.55e6

#thickness (t) = 0.3
#pore diameter (dp) = 0.1
#porosity (phi) = 0.2
#aspect ratio (ar) = 1
#solid fraction (sf) = 0.2
#width (w) = 5

#When HybridWickUsed used, Tambient should be set equal to Tsat
