[DEFAULT]
label = 

[Path]
home = /home/prachis/GitHub/CRI-Cooling-Tool/
library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/
flp = /home/prachis/GitHub/CRI-Cooling-Tool/flp_files/
ptrace = /home/prachis/GitHub/CRI-Cooling-Tool/ptrace_files/

[Solver]
name = SuperLU

[Grid]
type = Uniform
granularity = Grid
rows = 2
cols = 2

[TIM]
thickness (m) = 0.00002
transient = True
library_name = DefaultSolid.py
library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/DefaultSolid.py

[TEC]
coolingTechnique = True
library_name = TEC.py
library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/TEC.py
#library = 
#modellayers = 3
#materials = ['Ceramic', 'Cu', 'Ceramic']
poweroutfile = /home/prachis/GitHub/CRI-Cooling-Tool/output/tec.tecout
#transient = False

[Si]
library_name = DefaultSolid.py
library = /home/prachis/GitHub/CRI-Cooling-Tool/lib/DefaultSolid.py
transient = True

[TEC.py]
properties = ['specificheatcapacity (j/m^3k)', 'seebeckcoefficient','thermalcontactresistance (m2k/w)']

#[DefaultSolid.py]
#properties = ['thermalresistivity ((m-k)/w)','specificheatcapacity (j/m^3k)']
