[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 0.0077
specificheatcapacity (j/m^3k) = 1750000

[Init]
ambient = 318.15 K
temperature = 350 K

[NoPackage]
htc = 1e5 
thickness (m) = 0.00001
thermalresistivity ((m-k)/w) = 0.0025
specificheatcapacity (j/m^3k) = 1750000

