[DEFAULT]
#thickness (m) = 0.0001
label = 

[Si]
thermalresistivity ((m-k)/w) = 0.0077
specificheatcapacity (j/m^3k) = 1750000

[Init]
#ambient
ambient = 323.15 K
temperature = 350 K

[NoPackage]
#htc = 1e7 
htc = 1e9

[TwoPhaseVC]
#Water:
#htc = 36870 
#htc = 30508
#htc = 26029
#
#R134a
#htc = 12018
#htc = 8619
#htc = 6514
#
#R141b
#htc = 19238
htc = 15701
#htc = 12770
Tsat = 323.15 K 
silicon thermalresistivity ((m-k)/w) = 0.0077
#When TwoPhaseVC used, Tambient should be set equal to Tsat
